
<div class="nav-wrapper">
    <ul id="nav" class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li class="nav-title">Navigation</li>
        <li>
        	<a md-button aria-label="menu" href="#/links"><i class="zmdi zmdi-directions"></i>Links</a>
        	<ul>
        		<li><a md-button aria-label="menu" href="#/links/list">All Links</a></li>
        		<li><a md-button aria-label="menu" href="#/links/new">New Link</a></li>
        	</ul>
        </li>
        <li>
        	<a md-button aria-label="menu" href="#/traffics"><i class="zmdi zmdi-traffic"></i>Traffics</a>
        	<ul>
        		<li><a md-button aria-label="menu" href="#/traffics/list">All Traffics</a></li>
        		<li><a md-button aria-label="menu" href="#/traffics/export">Export</a></li>
        	</ul>
        </li>
        <li>
        	<a md-button aria-label="menu" href="#/ipblacklist"><i class="zmdi zmdi-format-list-bulleted"></i>IP Blacklist</a>
        	<ul>
        		<li><a md-button aria-label="menu" href="#/ipblacklist/list">IP Blacklist</a></li>
        		<li><a md-button aria-label="menu" href="#/ipblacklist/new">Add an IP to Blacklist</a></li>
        		<li><a md-button aria-label="menu" href="#/ipblacklist/import">Import</a></li>
        		<li><a md-button aria-label="menu" href="#/ipblacklist/export">Export</a></li>
                <li><a md-button aria-label="menu" href="#/networks/list">Networks</a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="menu" href="#/geoblacklist"><i class="zmdi zmdi-pin"></i>Geolocation Blacklist</a>
            <ul>
                <li><a md-button aria-label="menu" href="#/geoblacklist/list">All Items</a></li>
                <li><a md-button aria-label="menu" href="#/geoblacklist/new">Add an Item</a></li>
                <li><a md-button aria-label="menu" href="#/geoblacklist/import">Import</a></li>
                <li><a md-button aria-label="menu" href="#/geoblacklist/export">Export</a></li>
            </ul>
        </li>
    </ul>
</div>