<div class="page" data-ng-controller="IPBlacklistEditCtrl">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">{{title}}</h2>
        </div>
        <div class="col-md-12">
            <section class="panel panel-default cl-panel-loading">
                <div class="panel-body padding-xl">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">

                            <form role="form" data-ng-submit="submit( $event )">
                                <md-input-container class="md-block">
                                    <label>IP Address</label>
                                    <input ng-model="ip.ip">
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Description (You can enter multiple lines)</label>
                                    <textarea ng-model="ip.description" columns="1" md-maxlength="150"></textarea>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Network</label>
                                    <md-select ng-model="ip.network">
                                        <md-option ng-repeat="network in networks" value="{{network}}">
                                            {{networkName(network)}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <div class='clearfix'></div>
                                <md-input-container class="md-block">
                                    <label>Location</label>
                                    <input ng-model="ip.location">
                                </md-input-container>
                                <md-button type="submit" class="md-raised md-primary btn-w-md">{{submitButtonTitle}}</md-button>
                                <div class="space"></div>
                                <md-button class="md-raised btn-w-md" data-ng-click="goBack()">Back</md-button>
                            </form>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>