<div class="page" data-ng-controller="IPBlacklistImportCtrl">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Import Traffics</h2>
        </div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body padding-xl">

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class='file-uploader'>
                                <input id="fileinput" name="file" type="file" class="ng-hide" ngf-select ng-model="importFile" accept="csv/*">
                                <md-button id="uploadButton" class="md-raised md-primary" data-ng-click="chooseFile()">Choose File</md-button>
                                <span class='space'></span>
                                <span ng-bind="filename"></span>
                            </div>
                            <div class='divider divider-sm clearfix'></div>
                            Click the button below to import IP blacklist from CSV file.
                            <div class='divider divider-sm clearfix'></div>
                            <md-button class="md-raised btn-w-lg md-primary" data-ng-click="importCSV( importFile )">Import</md-button>
                        </div>
                    </div>

                    <div class="row progress-part" ng-show="started">
                        <div class='divider divider-md clearfix'></div>
                        <div class="col-md-5 col-md-offset-1">
                            <h4>{{statusText}}</h4>
                            <div class="divider"></div>
                            <md-progress-linear md-mode="determinate" value="{{progressValue}}"></md-progress-linear>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>

</div>