
<div class="nav-wrapper">
    <ul id="nav" class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li class="nav-title">Navigation</li>
        <li><a md-button aria-label="menu" href="#/links"><i class="zmdi zmdi-home"></i>Manage Links</a></li>
        <li><a md-button aria-label="menu" href="#/statistics"><i class="zmdi zmdi-home"></i>Statistics</a></li>
        <li><a md-button aria-label="menu" href="#/iplist"><i class="zmdi zmdi-home"></i>Whitelist/Blacklist</a></li>
    </ul>
</div>