<div class="page page-table" data-ng-controller="LinksCtrl">

    <div class="row ui-section">
    <div class="col-lg-8 clearfix">
        <h2 class="section-header">Manage Links</h2>
    </div>
    <div class="col-md-12">
        <section class="panel panel-default table-dynamic">
        <div class="table-filters">
            <div class="row">
	            <div class="col-sm-4 col-xs-6">
	                <form>
	                <input type="text"
	                     placeholder="Search..."
	                     class="form-control"
	                     data-ng-model="searchKeywords"
	                     data-ng-keyup="search()">
	                </form>
	            </div>
	            <div class="col-sm-3 col-xs-6 filter-result-info">
	                <span>
	                Showing {{filteredLinks.length}}/{{links.length}} entries
	                </span>                
	            </div>
	            <div class="col-sm-4 col-xs-12">
	            	<md-button class="md-raised btn-w-md md-primary" data-ng-click="gotoCreatePage()">Create New Link</md-button>
	            </div>
            </div>
        </div>

        <div class="table-responsive1">
	        <table class="table table-bordered table-striped table-responsive">
	            <thead>
	            <tr>
	                <th><div class="th">
	                Generated Link
	                <span class="fa fa-angle-up"
	                    data-ng-click=" order('link_generated') "
	                    data-ng-class="{active: row == 'link_generated'}"></span>
	                <span class="fa fa-angle-down"
	                    data-ng-click=" order('-link_generated') "
	                    data-ng-class="{active: row == '-link_generated'}"></span>
	                </div></th>
	                <th><div class="th">
	                Private Link
	                <span class="fa fa-angle-up"
	                    data-ng-click=" order('link_private') "
	                    data-ng-class="{active: row == 'link_private'}"></span>
	                <span class="fa fa-angle-down"
	                    data-ng-click=" order('-link_private') "
	                    data-ng-class="{active: row == '-link_private'}"></span>
	                </div></th>
	                <th><div class="th">
	                Public Link
	                <span class="fa fa-angle-up"
	                    data-ng-click=" order('link_public') "
	                    data-ng-class="{active: row == 'link_public'}"></span>
	                <span class="fa fa-angle-down"
	                    data-ng-click=" order('-link_public') "
	                    data-ng-class="{active: row == '-link_public'}"></span>
	                </div></th>
	                <th></th>
	            </tr>
	            </thead>
	            <tbody>
	            <tr data-ng-repeat="link in currentPageLinks">
	                <td>{{link.link_generated}}</td>
	                <td>{{link.link_private}}</td>
	                <td>{{link.link_public}}</td>
	                <td>
	                	<md-button class="md-raised btn-w-md md-primary" data-ng-click="editLink(link._id)">Edit</md-button>
	                	<div class="space"></div>
	                	<md-button class="md-raised btn-w-md md-warn" data-ng-click="deleteLink($event, link._id)">Delete</md-button>
	                </td>
	            </tr>
	            </tbody>
	        </table>
	    </div>

        <footer class="table-footer">
            <div class="row">
            <div class="col-md-6 page-num-info">
                <span>
                Show 
                <select data-ng-model="numPerPage"
                    data-ng-options="num for num in numPerPageOpt"
                    data-ng-change="onNumPerPageChange()">
                </select> 
                entries per page
                </span>
            </div>
            <div class="col-md-6 text-right pagination-container">
                <uib-pagination class="pagination-sm"
                    ng-model="currentPage"
                    total-items="filteredLinks.length"
                    max-size="4"
                    ng-change="select(currentPage)"
                    items-per-page="numPerPage"
                    rotate="false"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    boundary-links="true"></uib-pagination>
            </div>
            </div>
        </footer>
        </section>
    </div>
    </div>
    
</div>