<div class="page page-table" data-ng-controller="LinksCtrl">

    <div class="row ui-section">
    <div class="col-lg-8 clearfix">
        <h2 class="section-header">Manage Links</h2>
    </div>
    <div class="col-md-12">
        <section class="panel panel-default table-dynamic">

	        <div class="panel-body">
		        <div class="table-filters">
		            <div class="row">
		            	<!--
			            <div class="col-sm-6 col-xs-6">
			                <form data-ng-submit="search()">
			                	<input type="text" class="form-control" placeholder="Search..." data-ng-model="keyword">
			                	<md-button type="submit" class="md-icon-button md-primary" aria-label="Search"><span class="fa fa-search"></span></md-button>
			                </form>
			            </div>-->
			            <div class="col-sm-6 col-xs-12 text-left">
			            	<md-button class="md-raised btn-w-lg md-primary" data-ng-click="gotoCreatePage()">Create New Link</md-button>
			            </div>
		            </div>
		        </div>

		        <div class="table-responsive">
			        <table class="table table-hover cl-table-with-buttons">
			            <thead>
				            <tr>
				                <th><div class="th">
				                Generated Link
				                <span class="fa fa-angle-up"
				                    data-ng-click=" order('link_generated') "
				                    data-ng-class="{active: row == 'link_generated'}"></span>
				                <span class="fa fa-angle-down"
				                    data-ng-click=" order('-link_generated') "
				                    data-ng-class="{active: row == '-link_generated'}"></span>
				                </div></th>
				                <th><div class="th">
				                Real Link
				                <span class="fa fa-angle-up"
				                    data-ng-click=" order('link_real') "
				                    data-ng-class="{active: row == 'link_real'}"></span>
				                <span class="fa fa-angle-down"
				                    data-ng-click=" order('-link_real') "
				                    data-ng-class="{active: row == '-link_real'}"></span>
				                </div></th>
				                <th><div class="th">
				                Safe Link
				                <span class="fa fa-angle-up"
				                    data-ng-click=" order('link_safe') "
				                    data-ng-class="{active: row == 'link_safe'}"></span>
				                <span class="fa fa-angle-down"
				                    data-ng-click=" order('-link_safe') "
				                    data-ng-class="{active: row == '-link_safe'}"></span>
				                </div></th>
				                <th></th>
				            </tr>
			            </thead>
			            <tbody>
				            <tr data-ng-repeat="link in links" data-ng-click="editLink(link._id)">
				                <td>{{link.link_generated}}</td>
				                <td>{{link.link_real}}</td>
				                <td>{{link.link_safe}}</td>
				                <td class='buttons'>
				                	<md-button class="md-icon-button md-warn" aria-label="Delete Link" data-ng-click="deleteLink($event, link._id)"><span class="fa fa-remove"></span></md-button>
				                </td>
				            </tr>
			            </tbody>
			        </table>
			    </div>
			</div>

	        <footer class="table-footer">
	            <div class="row">
	            <div class="col-md-6 page-num-info">
	                <span>
	                Show 
	                <select data-ng-model="numPerPage"
	                    data-ng-options="num for num in numPerPageOpt"
	                    data-ng-change="onNumPerPageChange()">
	                </select> 
	                entries per page
	                </span>
	            </div>
	            <div class="col-md-12 visible-xs visible-sm">&nbsp;</div>
	            <div class="col-md-6 text-right pagination-container">
	                <uib-pagination class="pagination-sm"
	                    ng-model="currentPage"
	                    total-items="total"
	                    max-size="4"
	                    ng-change="select(currentPage)"
	                    items-per-page="numPerPage"
	                    rotate="false"
	                    previous-text="&lsaquo;" next-text="&rsaquo;"
	                    boundary-links="true"></uib-pagination>
	            </div>
	            </div>
	        </footer>

        </section>
    </div>
    </div>
    
</div>