<div class="page" data-ng-controller="EditLinkCtrl">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">{{title}}</h2>
        </div>
        <div class="col-md-12">
            <section class="panel panel-default cl-panel-loading">
                <div class="panel-body padding-xl">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">

                            <form role="form" data-ng-submit="submit( $event )">
                                <md-input-container class="md-block">
                                    <label>Generated Link</label>
                                    <input ng-model="link.link_generated">
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Real Link</label>
                                    <input ng-model="link.link_real">
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Safe(Public) Link</label>
                                    <input ng-model="link.link_safe">
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Description</label>
                                    <textarea ng-model="link.description"></textarea>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Owner</label>
                                    <md-select ng-model="link.owner">
                                        <md-option value="Leon">Leon</md-option>
                                        <md-option value="Dennis">Dennis</md-option>
                                        <md-option value="Steven">Steven</md-option>
                                        <md-option value="Ali">Ali</md-option>
                                        <md-option value="Calvin">Calvin</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-chips
                                    ng-model="link.tags"
                                    placeholder="Enter a tag"
                                    delete-button-label="Remove Tag"
                                    delete-hint="Press delete to remove tag"
                                    secondary-placeholder="Enter tags">
                                    <md-autocomplete
                                        md-selected-item="selectedTag"
                                        md-search-text="searchText"
                                        md-items="tag in searchedTags(searchText)"
                                        md-item-text="tag">
                                        <span md-highlight-text="searchText">{{tag}}</span>
                                    </md-autocomplete>
                                </md-chips>
                                <div class="divider divider-lg"></div>

                                <md-checkbox ng-model="link.use_ip_blacklist" aria-label="Filter Blacklisted IP">Filter blacklisted IP addresses</md-checkbox>

                                <!-- Allowed Locations -->
                                <div class="divider divider-xl"></div>
                                <h4>Allowed Geolocations</h4>
                                <div class="divider divider-lg"></div>
                                <md-button class="md-raised md-accent btn-w-sm" ng-click="addNewLocation()">Add Location</md-button>
                                <table class="table no-margin">
                                    <thead>
                                        <th>Country</th>
                                        <th>State/Region</th>
                                        <th>City</th>
                                        <th></th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="criterion in link.criteria">
                                            <td>
                                                <select class="form-control" ng-model="criterion.country" ng-change="updateRegions( $index )">
                                                    <option ng-repeat="country in countries" value="{{country.code}}">{{country.longname}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="form-control" ng-model="criterion.region">
                                                    <option ng-repeat="region in regions[$index]" value="{{region.code}}">{{region.longname}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-model="criterion.city">
                                            </td>
                                            <td>
                                                <md-button class="md-icon-button md-warn" aria-label="delete" ng-click="removeCriteria($index)">
                                                    <span class="fa fa-remove"></span>
                                                </md-button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <!-- Disallowed Locations -->
                                <div class="divider divider-xl"></div>
                                <h4>Disallowed Geolocations</h4>
                                <div class="divider divider-lg"></div>
                                <md-button class="md-raised md-accent btn-w-sm" ng-click="addNewDisallowedLocation()">Add Location</md-button>
                                <table class="table no-margin">
                                    <thead>
                                        <th>Country</th>
                                        <th>State/Region</th>
                                        <th>City</th>
                                        <th></th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="criterion in link.criteria_disallow">
                                            <td>
                                                <select class="form-control" ng-model="criterion.country" ng-change="updateDisallowRegions( $index )">
                                                    <option ng-repeat="country in countries" value="{{country.code}}">{{country.longname}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="form-control" ng-model="criterion.region">
                                                    <option ng-repeat="region in regions_disallow[$index]" value="{{region.code}}">{{region.longname}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-model="criterion.city">
                                            </td>
                                            <td>
                                                <md-button class="md-icon-button md-warn" aria-label="delete" ng-click="removeDisallowedCriteria($index)">
                                                    <span class="fa fa-remove"></span>
                                                </md-button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="divider divider-xl"></div>
                                <md-button type="submit" class="md-raised md-primary btn-w-md">{{submitButtonTitle}}</md-button>
                                <div class="space"></div>
                                <md-button class="md-raised btn-w-md" data-ng-click="gotoLinks()">Back</md-button>
                            </form>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>