<div class="page page-table" data-ng-controller="LinksCtrl">

    <div class="row ui-section">
    <div class="col-lg-8 clearfix">
        <h2 class="section-header">Manage Links</h2>
    </div>
    <div class="col-md-12">
        <section class="panel panel-default table-dynamic cl-panel-loading">

	        <div class="panel-body">
		        <div class="table-filters">
	            <div class="row">
		            <div class="col-sm-6 col-xs-12 text-left">
		            	<md-button class="md-raised btn-w-lg md-primary" data-ng-click="gotoCreatePage()">Create New Link</md-button>
		            </div>
	            </div>
	            <div class='divider divider-md'></div>
	            <div class="row">
		            <div class="col-md-4 col-xs-10">
	                <input type="text"
	                     placeholder="Search..."
	                     class="form-control"
	                     data-ng-model="searchKeyword"
	                     data-ng-model-options='{ debounce: 1000 }'
	                     data-ng-change="searchKeywordChange()">
		            </div>
		            <div class="col-md-4 col-xs-2">
                  <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="40" ng-show='searchUpdating'></md-progress-circular>
	              </div>
	              <div class="col-md-4 col-xs-12">
	              	<md-input-container class="md-block">
			            	<label>Filter by Owner: </label>
			            	<md-select ng-model="ownerFilter" ng-change="searchKeywordChange()">
			            		<md-option value="">All</md-option>
		            			<md-option value="Leon">Leon</md-option>
	                    <md-option value="Dennis">Dennis</md-option>
	                    <md-option value="Steven">Steven</md-option>
	                    <md-option value="Ali">Ali</md-option>
	                  </md-select>
	                </md-input-container>
	              </div>
            	</div>
		        </div>

		        <div class="table-responsive">
			        <table class="table table-hover cl-table-with-buttons">
			            <thead>
				            <tr>
				                <th><div class="th">
				                Generated Link
				                <span class="fa fa-angle-up"
				                    data-ng-click=" order('link_generated') "
				                    data-ng-class="{active: row == 'link_generated'}"></span>
				                <span class="fa fa-angle-down"
				                    data-ng-click=" order('-link_generated') "
				                    data-ng-class="{active: row == '-link_generated'}"></span>
				                </div></th>
				                <th><div class="th">
				                Real Link
				                <span class="fa fa-angle-up"
				                    data-ng-click=" order('link_real') "
				                    data-ng-class="{active: row == 'link_real'}"></span>
				                <span class="fa fa-angle-down"
				                    data-ng-click=" order('-link_real') "
				                    data-ng-class="{active: row == '-link_real'}"></span>
				                </div></th>
				                <th><div class="th">
				                Safe Link
				                <span class="fa fa-angle-up"
				                    data-ng-click=" order('link_safe') "
				                    data-ng-class="{active: row == 'link_safe'}"></span>
				                <span class="fa fa-angle-down"
				                    data-ng-click=" order('-link_safe') "
				                    data-ng-class="{active: row == '-link_safe'}"></span>
				                </div></th>
				                <th><div class="th">
				                Total Hits
				                <span class="fa fa-angle-up"
				                    data-ng-click=" order('total_hits') "
				                    data-ng-class="{active: row == 'total_hits'}"></span>
				                <span class="fa fa-angle-down"
				                    data-ng-click=" order('-total_hits') "
				                    data-ng-class="{active: row == '-total_hits'}"></span>
				                </div></th>
				                <th><div class="th">
				                Passed Hits
				                <span class="fa fa-angle-up"
				                    data-ng-click=" order('real_hits') "
				                    data-ng-class="{active: row == 'real_hits'}"></span>
				                <span class="fa fa-angle-down"
				                    data-ng-click=" order('-real_hits') "
				                    data-ng-class="{active: row == '-real_hits'}"></span>
				                </div></th>
				                <th><div class="th">
				                Owner
				                <span class="fa fa-angle-up"
				                    data-ng-click=" order('owner') "
				                    data-ng-class="{active: row == 'owner'}"></span>
				                <span class="fa fa-angle-down"
				                    data-ng-click=" order('-owner') "
				                    data-ng-class="{active: row == '-owner'}"></span>
				                </div></th>
				                <th><div class="th">
				                Description
				                </div></th>
				                <th></th>
				                <th></th>
				            </tr>
			            </thead>
			            <tbody>
				            <tr data-ng-repeat="link in links" data-ng-click="editLink(link._id)">
				                <td>{{link.link_generated}}</td>
				                <td>{{link.link_real}}</td>
				                <td>{{link.link_safe}}</td>
				                <td>{{link.total_hits}}</td>
				                <td>{{link.real_hits}}</td>
				                <td>{{link.owner}}</td>
				                <td>{{link.description}}</td>
				                <td>
				                </td>
				                <td class='buttons text-center'>
				                	<md-button class="md-icon-button md-primary" aria-label="Enable/Override" data-ng-click="toggleLink($event, link)" tooltip-placement="top" uib-tooltip="Enable / Override" tooltip-append-to-body="true">
				                		<span class="fa fa-toggle-on" data-ng-hide="!link.status"></span>
				                		<span class="fa fa-toggle-off ng-hide" data-ng-hide="link.status"></span>
				                	</md-button>
				                	<md-button class="md-icon-button md-primary" aria-label="Duplicate Link" data-ng-click="duplicateLink($event, link)" tooltip-placement="top" uib-tooltip="Duplicate" tooltip-append-to-body="true"><span class="fa fa-copy"></span></md-button>
				                	<md-button class="md-icon-button md-warn" aria-label="Delete Link" data-ng-click="deleteLink($event, link._id)" tooltip-placement="top" uib-tooltip="Delete" tooltip-append-to-body="true"><span class="fa fa-remove"></span></md-button>
				                </td>
				            </tr>
			            </tbody>
			        </table>
			    </div>
			</div>

	        <footer class="table-footer">
	            <div class="row">
	            <div class="col-md-6 page-num-info">
	                <span>
	                Show 
	                <select data-ng-model="numPerPage"
	                    data-ng-options="num for num in numPerPageOpt"
	                    data-ng-change="onNumPerPageChange()">
	                </select> 
	                entries per page
	                </span>
	            </div>
	            <div class="col-md-12 visible-xs visible-sm">&nbsp;</div>
	            <div class="col-md-6 text-right pagination-container">
	                <uib-pagination class="pagination-sm"
	                    ng-model="currentPage"
	                    total-items="total"
	                    max-size="4"
	                    ng-change="select(currentPage)"
	                    items-per-page="numPerPage"
	                    rotate="false"
	                    previous-text="&lsaquo;" next-text="&rsaquo;"
	                    boundary-links="true"></uib-pagination>
	            </div>
	            </div>
	        </footer>

        </section>
    </div>
    </div>
    
</div>