<div class="page page-table" data-ng-controller="TrafficsCtrl">

    <div class="row ui-section">
    <div class="col-lg-8 clearfix">
        <h2 class="section-header">Traffics</h2>
    </div>
    <div class="col-md-12">
        <section class="panel panel-default table-dynamic cl-panel-loading">

        	<div class="panel-body">
		        <div class="table-responsive">
			        <table class="table">
			            <thead>
			            <tr>
			            	<th><div class="th">
			                IP Address
			                <span class="fa fa-angle-up"
			                    data-ng-click=" order('ip') "
			                    data-ng-class="{active: row == 'ip'}"></span>
			                <span class="fa fa-angle-down"
			                    data-ng-click=" order('-ip') "
			                    data-ng-class="{active: row == '-ip'}"></span>
			                </div></th>
			                <th><div class="th">
			                Generated Link
			                <span class="fa fa-angle-up"
			                    data-ng-click=" order('link_generated') "
			                    data-ng-class="{active: row == 'link_generated'}"></span>
			                <span class="fa fa-angle-down"
			                    data-ng-click=" order('-link_generated') "
			                    data-ng-class="{active: row == '-link_generated'}"></span>
			                </div></th>
			                <th><div class="th">
			                Real Link
			                <span class="fa fa-angle-up"
			                    data-ng-click=" order('link_real') "
			                    data-ng-class="{active: row == 'link_real'}"></span>
			                <span class="fa fa-angle-down"
			                    data-ng-click=" order('-link_real') "
			                    data-ng-class="{active: row == '-link_real'}"></span>
			                </div></th>
			                <th><div class="th">
			                Safe Link
			                <span class="fa fa-angle-up"
			                    data-ng-click=" order('link_safe') "
			                    data-ng-class="{active: row == 'link_safe'}"></span>
			                <span class="fa fa-angle-down"
			                    data-ng-click=" order('-link_safe') "
			                    data-ng-class="{active: row == '-link_safe'}"></span>
			                </div></th>
			                <th><div class="th">
			                Geolocation
			                <span class="fa fa-angle-up"
			                    data-ng-click=" order('geolocation') "
			                    data-ng-class="{active: row == 'geolocation'}"></span>
			                <span class="fa fa-angle-down"
			                    data-ng-click=" order('-geolocation') "
			                    data-ng-class="{active: row == '-geolocation'}"></span>
			                </div></th>
			                <th><div class="th">
			                Accessed Time
			                <span class="fa fa-angle-up"
			                    data-ng-click=" order('access_time') "
			                    data-ng-class="{active: row == 'access_time'}"></span>
			                <span class="fa fa-angle-down"
			                    data-ng-click=" order('-access_time') "
			                    data-ng-class="{active: row == '-access_time'}"></span>
			                </div></th>
			            </tr>
			            </thead>
			            <tbody>
			            <tr data-ng-repeat="traffic in traffics">
			            	<td>{{traffic.ip}}</td>
			                <td>{{traffic.link_generated}}</td>
			                <td>{{traffic.link_real}}</td>
			                <td>{{traffic.link_safe}}</td>
			                <td>{{traffic.geolocation}}</td>
			                <td><span ng-bind="traffic.access_time | date:'MM/dd/yyyy hh:mm:ss'"></span></td>
			            </tr>
			            </tbody>
			        </table>
			    </div>
			</div>

        <footer class="table-footer">
            <div class="row">
            <div class="col-md-6 page-num-info">
                <span>
                Show 
                <select data-ng-model="numPerPage"
                    data-ng-options="num for num in numPerPageOpt"
                    data-ng-change="onNumPerPageChange()">
                </select> 
                entries per page
                </span>
            </div>
            <div class="col-md-6 text-right pagination-container">
                <uib-pagination class="pagination-sm"
                    ng-model="currentPage"
                    total-items="total"
                    max-size="4"
                    ng-change="select(currentPage)"
                    items-per-page="numPerPage"
                    rotate="false"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    boundary-links="true"></uib-pagination>
            </div>
            </div>
        </footer>
        </section>
    </div>
    </div>
    
</div>